apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: vsirvio/todo-backend:8d1675c924b7d92c30e52d8c2bad1b6f11f1d425452bb752c4ebd124005da3bc
          env:
          - name: PORT
            value: "3000"
          - name: TODOS_PATH
            value: "/api/todos"
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: todo-backend-postgres-secret
                key: POSTGRES_PASSWORD
          - name: DATABASE_URL
            value: "postgres://postgres:$(POSTGRES_PASSWORD)@todo-backend-postgres-svc"
