apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: static-vol
          persistentVolumeClaim:
            claimName: todo-app-static-claim
      containers:
        - name: todo-app
          image: vsirvio/todo-app:523f84a10115e46a7dbcd82ddc28b378105166a45a82f8f0c9bf572d6837240a
          env:
          - name: PORT
            value: "3000"
          volumeMounts:
          - name: static-vol
            mountPath: /app/static
