apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vsirvio/ping-pong:bf544f6bab44532b96605194bf8d01b4ea45de3a11342bbe1d2a228456876179
          env:
          - name: PORT
            value: "3000"
          - name: DATABASE_URL
            value: "postgres://postgres:postgres@ping-pong-postgres-svc"
