apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vsirvio/ping-pong:d1e16761e1701bf342dc231f5366257a87966f94ddf6d9679cbdf4cc20121a6f
          env:
          - name: PORT
            value: "3000"
          - name: DATABASE_URL
            value: "postgres://postgres:postgres@ping-pong-postgres-svc"
