apiVersion: apps/v1
kind: Deployment
metadata:
  name: wikifetcher-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wikifetcher
  template:
    metadata:
      labels:
        app: wikifetcher
    spec:
      volumes:
        - name: www-dir
          emptyDir: {}
      containers:
        - name: nginx
          image: nginx:1.29-alpine-slim
          volumeMounts:
          - name: www-dir
            mountPath: /usr/share/nginx/html
      initContainers:
        - name: dl-k8s-page
          image: busybox:1.36
          command: ['/bin/sh', '-c', 'wget -O /www/index.html https://en.wikipedia.org/wiki/Kubernetes']
          volumeMounts:
          - name: www-dir
            mountPath: /www
        - name: dl-random-page
          image: busybox:1.36
          restartPolicy: Always
          command: ['/bin/sh', '-c', 'while true; do sleep $(shuf -i 300-900 -n 1); wget -O /www/index.html https://en.wikipedia.org/wiki/Special:Random; done']
          volumeMounts:
          - name: www-dir
            mountPath: /www
