apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-log
          emptyDir: {}
        - name: config-vol
          configMap:
            name: log-output-configmap
            items:
            - key: information.txt
              path: information.txt
      containers:
        - name: log-writer-app
          image: vsirvio/log-writer-app:8646a51cfdad7051a327f83aacfdf9f3d8b619305b5d956230f4ac11ee3808da
          volumeMounts:
          - name: shared-log
            mountPath: /usr/src/app/files
        - name: http-endpoint-app
          image: vsirvio/http-endpoint-app:6f95d4f6c2031240c2f5d7c18892c44412d4a245c45878047bd27e50d1257b34
          env:
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: MESSAGE
          volumeMounts:
          - name: shared-log
            mountPath: /usr/src/app/files
          - name: config-vol
            mountPath: /usr/src/app/config
            readOnly: true
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 3000
