name: Build and publish an image

on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      image:
        required: true
        type: string
      working-directory:
        required: true
        type: string
    outputs:
      image-tag:
        value: ${{ jobs.build-publish.outputs.image-tag }}

jobs:
  build-publish:
    name: Build and publish
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ env.IMAGE_TAG }}
    env:
      IMAGE_TAG: "${{ inputs.image }}:${{ github.ref_name }}-${{ github.sha }}"

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Authentication'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - name: 'Configure Docker'
        run: gcloud --quiet auth configure-docker "${{ inputs.registry }}"

      - name: 'Build'
        run: docker build --tag "${{ secrets.CONTAINER_REPOSITORY_PATH }}/$IMAGE_TAG" .
        working-directory: '${{ inputs.working-directory }}'

      - name: 'Publish'
        run: docker push "${{ secrets.CONTAINER_REPOSITORY_PATH }}/$IMAGE_TAG"
