name: Delete K8s namespace

on: delete

env:
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: us-east1-d

jobs:
  delete-namespace:
    name: Delete namespace
    runs-on: ubuntu-latest

    steps:
      - name: 'Authentication'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ secrets.GKE_PROJECT }}'
          location: '${{ env.GKE_ZONE }}'

      - name: 'Delete namespace'
        run: kubectl delete namespace ${{ github.event.ref }}
